
/*
 * sheets/goban.css
 */

body {

  margin: 1rem 1rem;
  background-color: #f5f5f5;

  h1 {
    font-size: 210%;
    font-weight: bold;
    margin: 1rem 0;
  }
}

.go-board[is] {

  margin: 2.1rem auto;
  width: 90%;

  svg {

    width: 100%;
    height: 100%;

    background-image: url('/images/kaya.jpg');
    background-repeat: no-repeat; /* Prevents the image from repeating */
    background-size: cover; /* Ensures the image covers the entire div */
  }

  .output {

    font-family: monospace;
    color: darkgrey;
  }
}

